
	:root 
	{
		--base-fnt: 20px;
		--bg-ads: #f0f4f8;
	    --bdy-clr: #f0f4f8;
	    --bar-clr: #eceff1;
	    --txt-clr: #6f6f6f;
	    --hlt-clr: #e8f1f9;
	    --hlt-clr2: #cad9e7;
	    --lnk-clr: #e7a6b1;
	    --hdr-clr: #6487ab;
	    --lbl-clr: #567ea7;
	    --lbl-brdr: #f0f4f8;
	    --hdr-bg: #f0f4f8;
	    --brdr-dt: #e3edf6;
	    --bg-clr: white;
	}
    *
    {
        box-sizing: border-box;
    }
	body
	{ 
		background: var(--bdy-clr);
	}
	@keyframes ftpop
	{
	    0% { transform: translateY(24px); } 55% { transform: translateY(-8px); } 75% { transform: translateY(4px); }
	    90% { transform: translateY(-2px); } 100% { transform: translateY(0); }
	}
	#big-out
	{ 
		position: relative; width: auto;
		padding: 20px 20px;
	}
	.icn-con
	{
		padding: 10px 5px 7px 9px; color: var(--lbl-clr);
		border-radius: 7px; box-sizing: content-box;
		width: 20px; height: 20px; cursor: pointer;
		background: var(--hdr-bg);
	}
	.icn-diff
	{
		padding: 7px 2px 10px 10px;
	}
	#lt-art-sec
	{
		flex-direction: column; gap: 10px; padding-inline: 10px;
		display: flex; width: auto; margin: 80px auto 0px;
	}
	.lt-art-contnr
	{
		display: flex; gap: 10px; margin-top: 10px;
	}
	#add-article-html
	{
		width: auto; flex: 1;
		min-height: 300px; position: relative;
		min-width: 200px; height: auto;
		background: var(--bg-clr);
		border-radius: 20px;
	}
	.top-sec
	{
		width: calc(100% - 6px); max-width: 1568px;
		display: flex; border-radius: 15px; gap: 20px;
		position: relative; background: transparent;
		margin: 0px auto 20px auto; flex-wrap: wrap;
		min-width: 500px; min-height: 50px;
	}
	#site-logo
	{
		background: var(--bg-clr);
		color: var(--hdr-clr); border-radius: 15px;
		font-family: monospace; white-space: nowrap;
		font-weight: bolder; font-size: calc(var(--base-fnt) + 10px);
		padding: 15px 30px 15px 30px;

	}
	#logo-a 
	{ 
		text-decoration: none;
		color: var(--hdr-clr);
	}
	.nv-style-ele
	{
		display: flex; align-items: center;
	}
	.horzn-fx
	{
		flex: 1;
	}
	.nv-bar-horzn
	{
		background: var(--bar-clr); width: 20px;
		height: 4px; border-radius: 0 5px 5px 0;
	}
	.horzn-rdus
	{
		border-radius: 5px 0 0 5px;
	}
	.nv-bar-vrtcl
	{
		height: 25px; border-radius: 5px;
        background: var(--bar-clr); width: 4px;
	}
	.nav-out
	{
		align-items: center; gap: 10px;
		background: var(--bg-clr); padding: 20px 20px 18px; flex: 1;
		font-family: sans-serif; border-radius: 15px;
		display: flex; overflow: hidden;
	}
	.nav-rvrs
	{
		flex-direction: row-reverse;
	}
	.nav-rds
	{
		border-radius: 20px;
	}
	.link-wrap
	{
		display: flex; gap: 10px;
	}
	.nav-out a 
	{
		text-decoration: none; font-size: calc(var(--base-fnt) - 3px);
		color: var(--txt-clr); white-space: nowrap;
	}
	.nav-out a:not(:last-of-type)::after
	{
		content: "•"; color: #8baac7;
		margin-inline-start: 10px;
	}
	.bnr-img
	{
		flex: 1; gap: 20px; background: var(--bg-clr);
		min-height: 150px; border-radius: 20px;
	}
	#bars-rows
    {
    	display: flex; width: 100%;
    	gap: 17px; justify-content: center;
    	padding-bottom: 20px;
    }
	.side-bars
    {
    	min-width: 230px; max-width: 370px;
    	border-radius: 20px; width: 30%;
    	margin: -10px 0 0px 0;
    }
    .sdbar-contnt, .sidebar-ads
    {
    	top: 20px; padding: 20px 20px;
    	margin: 10px 3px; background: var(--bg-clr); min-height: 210px;
    	border-radius: 20px; width: auto;
    }
    .bar-smack
    {
    	height: auto; width: 20%; min-width: 136px;
    }
    .bar-color
    {
    	background: var(--bg-ads); position: sticky;
    	margin: 10px 3px 20px;
    }
	.art-out
	{
		padding: 20px 20px 0px 20px;
		z-index: 2; color: var(--txt-clr); background: var(--bg-clr);
		min-width: 400px; height: auto; border-radius: 20px;
		position: relative; font-family: sans-serif;
		width: 75%; max-width: 800px;
	}
	.top-cen
	{
		text-align: center;
	}
	.top-label
	{
		margin-bottom: 30px;
		border: 4px solid var(--lbl-brdr); border-bottom-width: 0;
		border-radius: 20px 20px 0 0; height: 30px;
	}
	.label-text
	{
		overflow: hidden;
		padding: 10px 50px 10px 50px;
		overflow-wrap: break-word; max-width: 100%;
		width: max-content; border: 4px solid var(--lbl-brdr);
		inset-inline: 0; margin: auto; color: var(--lbl-clr);
		font-weight: bolder; letter-spacing: 5px;
		font-family: monospace; font-size: calc(var(--base-fnt) - 4px);
		max-height: 50px; position: relative;
	}
	.sdbar-lb-txt
	{
		padding: 10px 25px 10px 30px;
	}
	.art-content
	{
		width: 100%; margin: 20px auto -8px auto;
		border-radius: 20px; min-height: 400px;
		position: relative; top: 10px;
	}
	.lt-top
	{
		border-radius: 15px 15px 50px 50px; top: -4px;
	}
	#art-h1
	{
	    margin-bottom: 3px; color: var(--hdr-clr);
	    font-family: sans-serif; font-size: calc(var(--base-fnt) + 5px);
	    font-weight: bolder; padding: 10px;
	}
	.verdict
	{
		padding: 0px 15px; display: inline-block;
		font-size: calc(var(--base-fnt) + 2px); margin: 0;
	}
	.date
	{
		padding: 0px 14px; font-size: var(--base-fnt); margin-top: 5px;
		border-inline: 7px var(--brdr-dt) solid;
	}
	.top-cen a
	{
		text-decoration: none; color: inherit;
		border-bottom: 3px var(--lnk-clr) solid;
	}
	#art-text
	{
		padding: 10px; font-size: var(--base-fnt); width: auto;
	}
	.art-para-new
	{
	    position: relative;
	    display: inline-block;
	    padding-right: 15px;
	}
	.art-para-new:nth-of-type(n+2)::before
	{
	    position: absolute; z-index: -2;
        content: ""; inset: 0; width: 99.5%;
        display: var(--before-display, block);
        background: linear-gradient(to left, var(--brdr-dt) 10%, transparent 15%);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        margin-top: -5px; margin-bottom: -5px;
        border-radius: 10px; padding: 3px;
        mask-composite: exclude;
	}

	#art-text a { text-decoration: none; border-bottom: 3px var(--lnk-clr) solid; color: inherit; }
	#art-text p { line-height: 30px; display: inline-block; }

	#img-1
	{
	    width: 87%; height: auto; aspect-ratio: auto 16/9;
	    margin: 14px auto; display: block;
	    border-radius: 20px;
	}
	.art-images
	{
	    width: 87%; height: auto; aspect-ratio: auto 16/9;
	    margin: 14px auto; display: block;
	    border-radius: 20px;
	}
	.first-para
	{
	    position: relative; margin: 0px auto 20px auto;
	    width: auto; padding: 7px 15px 10px 0px;
	}
	.first-para::before
	{
	    content: "";
	    position: absolute; inset: 0;
	    border-radius: 17px; padding: 3px;
	    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	    background: linear-gradient(to left, var(--hlt-clr2), transparent 50%);
	    mask-composite: exclude; z-index: -2;
	}
    #pros-cons
    {
        height: auto; width: auto;
        border-radius: 20px; margin-bottom: 60px;
        border: 3.5px var(--hlt-clr2) solid;
    }
    #thoughts
    {
        border: 3.5px var(--bg-clr) solid;
        inset-inline: 0; background: var(--hdr-bg);
        text-align: center; padding: 10px 40px 12px 40px;
        border-radius: 8px 8px 35px 35px; color: var(--hdr-clr);
        position: relative; top: -7px; font-weight: bold;
        margin: 0px auto; width: max-content;
    }
    #thoughts-para
    {
        padding: 0 12px 0 16px;
        margin: 10px 0 20px 0;
    }
	.sections-new
	{
	    font-size: calc(var(--base-fnt) + 5px);
	    width: max-content; color: var(--hdr-clr);
	    font-weight: bold; max-width: 90%; text-align: center;
	    border-inline: 10px var(--brdr-dt) solid;
	    padding: 0px 15px 0px 15px;
	    margin: 40px auto 0 auto;
	}
	.dis-com
	{
	    position: relative;
	    height: auto; min-height: 200px;
	    padding: 12px 4px; background: var(--bg-ads);
	    border-radius: 10px;
	}
	.ad-details-5
	{
	    position: absolute;
	    font-family: sans-serif;
	    font-size: calc(var(--base-fnt) + 10px); background: var(--bg-clr);
	    line-height: 67px; width: 130px; height: 67px;
	    color: #a1a1a1; border-radius: 5px;
	    inset: 0; margin: auto;
	    text-align: center;
	}
	.mentions-new
	{
	    border-radius: 10px; text-align: center;
	    border: 3.5px var(--brdr-dt) solid; margin: 10px 0;
	    display: block; line-height: 25px;
	    padding: 20px 22px 20px 22px;
	}
	.end-links-con
	{
	    width: auto; text-align: center;
	    padding: 0 30px 0 30px;
	}
	.end-links-con a
	{
	    border-bottom: none !important;
	}
	.end-links
	{
	    display: inline-block;
	    margin: 15px 5px 0 5px; color: var(--txt-clr);
	    border-inline: 7px var(--brdr-dt) solid;
	    padding: 0 20px 0 20px;
	}
	.end-links:hover
	{
	    border-inline: 7px rgb(from var(--hdr-clr) r g b / 0.6) solid;
	    transition: 0.5s; color: var(--hdr-clr);
	}
	.arrow-eles
	{
		align-items: center;
		margin-inline: auto; flex: 0 0 auto;
		width: max-content;
		border-radius: 10px; inset-inline: 0;
		display: flex; gap: 7px;
	}
	.width-cut
	{
		width: 100%; background: var(--bg-clr);
		border-radius: 20px 20px 4px 4px;
		gap: 0px; margin: 0 auto 0;
	}
	.ft-top-sec
	{
		border-radius: 20px; gap: 4px;
	}
	.copyright-text
	{
		font-family: roboto, sans-serif;
		width: 70%; margin: 0 auto 0; display: block;
		border-radius: 10px; text-align: center;
		font-size: calc(var(--base-fnt) - 3px); color: var(--txt-clr);
		padding: 20px 22px 20px 22px;
	}
	.copyright
	{
		flex: 0 1 100%; background: var(--bg-clr);
		border-radius: 4px 4px 20px 20px;
	}

	@media (prefers-color-scheme: dark) 
	{
    :root 
    {
    	--bg-ads: #38434e;
	    --txt-clr: #afafaf;
	    --bg-clr: #1a1e22;
	    --bar-clr: #425467;
	    --hlt-clr: #384551;
	    --hlt-clr2: #56708b;
	    --lnk-clr: #8d686e;
	    --hdr-clr: #80abd6;
	    --lbl-clr: #79a7d7;
	    --lbl-brdr: #394857;
	    --hdr-bg: #2d3a46;
	    --brdr-dt: #445668;
	    --bdy-clr: black;
    }
	}

	@media only screen and (max-width: 1375px)
    {
    :root 
	{
		--base-fnt: 18px;
	}
	.date
	{
        border: none;
	}
    }

	@media only screen and (max-width: 1010px)
    {
    :root 
	{
		--base-fnt: 16px;
	}
	.art-head-common
	{
        font-size: 14px !important;
    }
    .bar-smack
    {
    	display: none;
    }
    }

	@media only screen and (min-width: 615px)
    {
    #plabel
    {
    	display: none;
    }
    }

    @media only screen and (max-width: 900px)
    {
    .side-bars
    {
    	display: none;
    }
    .bar-smack
    {
    	display: block;
    }
    }

	@media only screen and (max-width: 615px)
    {
    .sidebar-ads
    {
    	display: none;
    }
    .bar-smack
    {
    	display: none;
    }
    #dlabel
    {
    	display: none;
    }
    #tpicks
    {
    	display: none;
    }
    #contil
    {
    	display: none;
    }
    #big-out
	{ 
		padding: 0px 0px 85px 0px;
	}
	#site-logo
	{
		font-size: var(--base-fnt); margin: 40px auto 10px;
		border-radius: 15px;
	}
    .label-text
	{
		padding: 10px 50px 10px 50px; font-size: calc(var(--base-fnt) - 5px);
	}
    .top-sec
	{
		min-width: 200px; margin: 20px auto 10px;
		max-width: 615px; width: 85%;
	}
	#lt-art-sec
	{
		min-width: 200px; width: 100%;
		margin: 40px auto 0px auto;
	}
	#bars-rows
    {
    	padding-bottom: 0px;
    }
	.art-out
	{
		padding: 10px 14px 0px;
		min-width: 200px; margin: 0px 0px 10px;
		width: 92%; max-width: 615px;
	}
	.nav-out
	{
		max-width: 85%;
		padding: 25px 30px 23px 30px;
	}
	.nav-out a
	{
		font-size: calc(var(--base-fnt) - 5px);
	}
	.ft-out
	{
		padding: 17px 20px 15px 20px;
		max-width: 75%;
	}
	.verdict
	{
		font-size: calc(var(--base-fnt) - 3px);
	}
	.date
	{
		font-size: calc(var(--base-fnt) - 4px); margin-bottom: 10px;
		padding: 0px 55px; border: none;
	}
	#art-h1
	{
		font-size: var(--base-fnt);
	}
	.first-para::before
	{
		border-radius: 10px;
	    padding: 2.5px;
	}
	#art-text
	{
		padding: 0px; font-size: calc(var(--base-fnt) - 4px);
	}
    #art-text > p:nth-of-type(n+2)::before
    {
        position: absolute;
        content: ""; inset: 0; width: 99%;
        display: var(--before-display, block);
        background: linear-gradient(to left, #EAEAEA 10%, transparent 15%);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        margin-top: -5px; margin-bottom: -5px;
        border-radius: 10px; padding: 2px;
        mask-composite: exclude;
    }
	#art-text p
	{
		line-height: 25px;
        padding-right: 10px;
	}
	#add-article-html
	{
		width: 100%; flex: none;
	}
    #pros-cons
    {
        border-radius: 10px;
    }
	#thoughts
	{
		font-size: calc(var(--base-fnt) - 5px);
	}
	.sections-new
	{
		max-width: 74%;
		font-size: calc(var(--base-fnt) - 2px);
	}
	.art-images
	{
		width: 100%; border-radius: 10px;
	}
	#img-1
	{
		width: 100%; border-radius: 10px;
	}
	.end-links-con
	{
	    padding: 0 10px 0 10px;
	}
	.end-links
	{
	    padding: 0 10px 0 10px;
	}
    }
